In [688]:
import numpy as np
import pandas as pd

In [689]:
data = pd.read_csv("Uncleaned_DS_jobs.csv")
data.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [690]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 47.3+ KB

In [691]:
data.describe()

            index      Rating      Founded
count  672.000000  672.000000   672.000000
mean   335.500000    3.518601  1635.529762
std    194.133974    1.410329   756.746640
min      0.000000   -1.000000    -1.000000
25%    167.750000    3.300000  1917.750000
50%    335.500000    3.800000  1995.000000
75%    503.250000    4.300000  2009.000000
max    671.000000    5.000000  2019.000000

In [692]:
data.describe(include=['object'])

,Job Title,Salary Estimate,Job Description,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,Competitors
count,672,672,672,672,672,672,672,672,672,672,672,672
unique,172,30,489,432,207,229,9,13,58,23,14,108
top,Data Scientist,$79K-$131K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,Hatch Data Inc,"San Francisco, CA","New York, NY",51 to 200 employees,Company - Private,-1,Information Technology,Unknown / Non-Applicable,-1
freq,337,32,12,12,69,33,135,397,71,188,213,501

### Eliminar columnas innecesarias

In [693]:
data.drop(['index', 'Competitors'], axis=1, inplace=True)
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD)
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD)
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD)
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable

### Limpiar la columna de Job Title

In [694]:
data['Job Title'].value_counts()

Data Scientist                                            337
Data Engineer                                              26
Senior Data Scientist                                      19
Machine Learning Engineer                                  16
Data Analyst                                               12
                                                         ...
Data Science Instructor                                     1
Business Data Analyst                                       1
Purification Scientist                                      1
Data Engineer, Enterprise Analytics                         1
AI/ML - Machine Learning Scientist, Siri Understanding      1
Name: Job Title, Length: 172, dtype: int64

In [695]:
data['Job Title'].unique()

array(['Sr Data Scientist', 'Data Scientist',
       'Data Scientist / Machine Learning Expert',
       'Staff Data Scientist - Analytics',
       'Data Scientist - Statistics, Early Career', 'Data Modeler',
       'Experienced Data Scientist', 'Data Scientist - Contract',
       'Data Analyst II', 'Medical Lab Scientist',
       'Data Scientist/Machine Learning', 'Human Factors Scientist',
       'Business Intelligence Analyst I- Data Insights',
       'Data Scientist - Risk', 'Data Scientist-Human Resources',
       'Senior Research Statistician- Data Scientist', 'Data Engineer',
       'Associate Data Scientist', 'Business Intelligence Analyst',
       'Senior Analyst/Data Scientist', 'Data Analyst',
       'Machine Learning Engineer', 'Data Analyst I',
       'Scientist - Molecular Biology',
       'Computational Scientist, Machine Learning',
       'Senior Data Scientist', 'Jr. Data Engineer',
       'E-Commerce Data Analyst', 'Data Analytics Engineer',
       'Product Data Scientist - Ads Data Science',
       'Data Scientist - Intermediate', 'Global Data Analyst',
       'Data & Machine Learning Scientist',
       'Data Scientist - Machine Learning', 'Data Engineer (Remote)',
       'Data Scientist, Applied Machine Learning - Bay Area',
       'Principal Data Scientist', 'Business Data Analyst',
       'Purification Scientist', 'Data Engineer, Enterprise Analytics',
       'Data Scientist 3 (718)', 'Real World Science, Data Scientist',
       'Data Scientist - Image and Video Analytics',
       'Data Science Manager, Payment Acceptance - USA',
       'Data Scientist / Applied Mathematician',
       'Patient Safety- Associate Data Scientist',
       '(Sr.) Data Scientist -', 'Data Scientist, Kinship - NYC/Portland',
       'Applied Technology Researcher / Data Scientist',
       'Health Data Scientist - Biomedical/Biostats',
       'Staff Data Scientist', 'Sr Data Engineer (Sr BI Developer)',
       'Lead Data Scientist', 'RFP Data Analyst',
       'Data Scientist (TS/SCI)', 'Software Engineer - Data Science',
       'Data Analyst/Engineer', 'NGS Scientist', 'Senior Data Engineer',
       'Sr. ML/Data Scientist - AI/NLP/Chatbot',
       'Data Integration and Modeling Engineer',
       'Tableau Data Engineer 20-0117', 'AI Data Scientist',
       'Research Scientist Patient Preferences (Remote)',
       'Scientist - Biomarker and Flow Cytometry', 'Analytics Manager',
       'Staff Scientist- Upstream PD',
       'Sr Scientist - Extractables & Leachables',
       'ELISA RESEARCH SCIENTIST (CV-15)', 'Say Business Data Analyst',
       'Geospatial Data Scientist', 'Computational Scientist',
       'Senior Data Analyst', 'Sr Data Analyst',
       'Machine Learning Scientist - Bay Area, CA',
       'Senior Data Scientist - Algorithms',
       'Senior Data & Machine Learning Scientist',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Jr. Business Data Analyst (position added 6/12/2020)',
       'Sr. Data Scientist II',
       'Production Engineer - Statistics/Data Analysis',
       'Statistical Scientist', 'Computational Behavioral Scientist',
       'Principal Data Scientist - Machine Learning',
       'Principal Machine Learning Scientist',
       'Senior Data Scientist - R&D Oncology',
       'Health Plan Data Analyst, Sr',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Analytics - Business Assurance Data Analyst',
       'Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab',
       'Data Science Instructor', 'Senior Business Intelligence Analyst',
       'In-Line Inspection Data Analyst',
       'Data Scientist - TS/SCI FSP or CI Required',
       'Data Scientist - TS/SCI Required',
       'Data Science Software Engineer',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'AI Ops Data Scientist', 'Intelligence Data Analyst, Senior',
       'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Senior Machine Learning Scientist - Bay Area, CA',
       'Report Writer-Data Analyst', 'Staff Data Scientist - Pricing',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Operations Data Analyst', 'Software Data Engineer',
       'Real World Evidence (RWE) Scientist', 'Computer Scientist 1',
       'Environmental Data Science', 'Staff BI and Data Engineer',
       'Data Scientist - Statistics, Mid-Career',
       'Director of Data Science',
       'Data Engineer, Digital & Comp Pathology',
       'Manager / Lead, Data Science & Analytics',
       'Diversity and Inclusion Data Analyst',
       'Data Scientist Machine Learning', 'Chief Scientist',
       'Development Scientist, Voltaren',
       'Principal Data & Analytics Platform Engineer',
       'Machine Learning Engineer/Scientist',
       'Data Analyst - Unilever Prestige', 'VP, Data Science',
       'Data Engineer - Kafka', 'Decision Scientist',
       'Data Science All Star Program - Data Engineer Track',
       'Scientist - Machine Learning', 'Sr. Data Scientist',
       'Applied AI Scientist / Engineer',
       'Data Engineer (Analytics, SQL, Python, AWS)',
       'Senior Data Analyst - Finance & Platform Analytics',
       'Market Research Data Scientist',
       'IT Partner Digital Health Technology and Data Science',
       'Software Engineer (Data Scientist, C,C++,Linux,Unix) - SISW - MG',
       'Senior Clinical Data Scientist Programmer',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Data Scientist (TS/SCI w/ Poly)',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist', 'Cloud Data Engineer (Azure)',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Sr. Data Analyst',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Senior Machine Learning Engineer',
       'Data Scientist- Industrial Discrete Sector Industry',
       'Senior Principal Data Scientist (Python/R)',
       'Data Scientist(s)/Machine Learning Engineer',
       'Scientist / Group Lead, Cancer Biology',
       'Manager, Field Application Scientist, Southeast',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Machine Learning Scientist / Engineer', 'Data Science Analyst',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Software Engineer - Machine Learning & Data Science (Applied Intelligence Services Team)',
       'Clinical Data Analyst', 'Data Scientist Technical Specialist',
       'Data Science Manager', 'Big Data Engineer', 'Data Architect',
       'Aviation AI/ML Data Scientist', 'Machine Learning Engineer, Sr.',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Scientist/Research Associate-Metabolic Engineering',
       'Vice President, Biometrics and Clinical Data Management',
       'Enterprise Data Analyst (Enterprise Portfolio Management Office)',
       'Lead Data Scientist – Network Analysis and Control',
       'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics',
       'Developer III - Data Science',
       'Hydrogen/Tritium Materials Scientist (Experienced)',
       'Data Scientist/Data Analytics Practitioner',
       'AI/ML - Machine Learning Scientist, Siri Understanding'],
      dtype=object)

Como todos giran en torno a las mismas palabras clave, vamos a agruparlos

In [696]:
def group_job_title(title):
    job_groups = {
        'data scientist': 'Data scientist',
        'data engineer': 'Data engineer',
        'analyst': 'Analyst',
        'machine learning': 'MLE',
        'manager': 'Manager',
        'director': 'Director'
    }
    title_lower = title.lower()
    new_title = np.nan
    for job, group in job_groups.items():
        if job in title_lower:
            new_title = group
    return new_title

In [697]:
data['Job Group'] = data['Job Title'].apply(group_job_title)
data['Job Group'].value_counts()

Data scientist    440
Analyst            57
MLE                49
Data engineer      47
Manager             7
Director            3
Name: Job Group, dtype: int64

In [698]:
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Job Group
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,Data scientist
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),Data scientist
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),Data scientist
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),Data scientist
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,Data scientist

El siguiente paso será extraer del título el nivel que se pide.

In [699]:
def job_level(title):
    title_lower = title.lower()
    senior_level = ['sr', 'senior', 'lead', 'principal', 'director']
    junior_level = ['jr', 'junior']

    level = np.nan
    for keyword in senior_level:
        if keyword in title_lower:
            level = 'Senior'
            break
    else:
        if any(junior_keyword in title_lower for junior_keyword in junior_level):
            level = 'Junior'

    return level

In [700]:
data['Job Level'] = data['Job Title'].apply(job_level)
data['Job Level'].value_counts()

Senior    95
Junior     2
Name: Job Level, dtype: int64

Ya no necesitamos la columna de 'Job Title' así que la eliminamos.

In [701]:
data.drop(['Job Title'], axis=1, inplace=True)
data.head()

,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Job Group,Job Level
0,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,Data scientist,Senior
1,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),Data scientist,NaN
2,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),Data scientist,NaN
3,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),Data scientist,NaN
4,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,Data scientist,NaN

### Limpiar la columna del Salary Estimate

In [702]:
data['Salary Estimate'].value_counts()

$79K-$131K (Glassdoor est.)     32
$99K-$132K (Glassdoor est.)     32
$75K-$131K (Glassdoor est.)     32
$137K-$171K (Glassdoor est.)    30
$90K-$109K (Glassdoor est.)     30
$56K-$97K (Glassdoor est.)      22
$79K-$106K (Glassdoor est.)     22
$90K-$124K (Glassdoor est.)     22
$110K-$163K (Glassdoor est.)    21
$92K-$155K (Glassdoor est.)     21
$138K-$158K (Glassdoor est.)    21
$128K-$201K (Glassdoor est.)    21
$212K-$331K (Glassdoor est.)    21
$95K-$119K (Glassdoor est.)     21
$69K-$116K (Glassdoor est.)     21
$124K-$198K (Glassdoor est.)    21
$112K-$116K (Glassdoor est.)    21
$122K-$146K (Glassdoor est.)    21
$91K-$150K (Glassdoor est.)     21
$101K-$165K (Glassdoor est.)    21
$79K-$147K (Glassdoor est.)     20
$31K-$56K (Glassdoor est.)      20
$145K-$225K(Employer est.)      20
$141K-$225K (Glassdoor est.)    20
$66K-$112K (Glassdoor est.)     20
$80K-$132K (Glassdoor est.)     20
$87K-$141K (Glassdoor est.)     20
$105K-$167K (Glassdoor est.)    20
$79K-$133K (Glassdoor est.)     19
$71K-$123K (Glassdoor est.)     19
Name: Salary Estimate, dtype: int64

In [703]:
data['Salary Estimate'].unique()

array(['$137K-$171K (Glassdoor est.)', '$75K-$131K (Glassdoor est.)',
       '$79K-$131K (Glassdoor est.)', '$99K-$132K (Glassdoor est.)',
       '$90K-$109K (Glassdoor est.)', '$101K-$165K (Glassdoor est.)',
       '$56K-$97K (Glassdoor est.)', '$79K-$106K (Glassdoor est.)',
       '$71K-$123K (Glassdoor est.)', '$90K-$124K (Glassdoor est.)',
       '$91K-$150K (Glassdoor est.)', '$141K-$225K (Glassdoor est.)',
       '$145K-$225K(Employer est.)', '$79K-$147K (Glassdoor est.)',
       '$122K-$146K (Glassdoor est.)', '$112K-$116K (Glassdoor est.)',
       '$110K-$163K (Glassdoor est.)', '$124K-$198K (Glassdoor est.)',
       '$79K-$133K (Glassdoor est.)', '$69K-$116K (Glassdoor est.)',
       '$31K-$56K (Glassdoor est.)', '$95K-$119K (Glassdoor est.)',
       '$212K-$331K (Glassdoor est.)', '$66K-$112K (Glassdoor est.)',
       '$128K-$201K (Glassdoor est.)', '$138K-$158K (Glassdoor est.)',
       '$80K-$132K (Glassdoor est.)', '$87K-$141K (Glassdoor est.)',
       '$92K-$155K (Glassdoor est.)', '$105K-$167K (Glassdoor est.)'],
      dtype=object)

Primero vamos a eliminar el texto de los salarios.

In [704]:
data['Salary Estimate'] = data['Salary Estimate'].str.split('(').str[0]
data['Salary Estimate'].unique()

array(['$137K-$171K ', '$75K-$131K ', '$79K-$131K ', '$99K-$132K ',
       '$90K-$109K ', '$101K-$165K ', '$56K-$97K ', '$79K-$106K ',
       '$71K-$123K ', '$90K-$124K ', '$91K-$150K ', '$141K-$225K ',
       '$145K-$225K', '$79K-$147K ', '$122K-$146K ', '$112K-$116K ',
       '$110K-$163K ', '$124K-$198K ', '$79K-$133K ', '$69K-$116K ',
       '$31K-$56K ', '$95K-$119K ', '$212K-$331K ', '$66K-$112K ',
       '$128K-$201K ', '$138K-$158K ', '$80K-$132K ', '$87K-$141K ',
       '$92K-$155K ', '$105K-$167K '], dtype=object)

Ahora vamos a eliminar los símbolos y la unidad.

In [705]:
data['Salary Estimate'] = data['Salary Estimate'].str.replace('K', '', regex=False).str.replace('$', '', regex=False)
data['Salary Estimate'].unique()

array(['137-171 ', '75-131 ', '79-131 ', '99-132 ', '90-109 ', '101-165 ',
       '56-97 ', '79-106 ', '71-123 ', '90-124 ', '91-150 ', '141-225 ',
       '145-225', '79-147 ', '122-146 ', '112-116 ', '110-163 ',
       '124-198 ', '79-133 ', '69-116 ', '31-56 ', '95-119 ', '212-331 ',
       '66-112 ', '128-201 ', '138-158 ', '80-132 ', '87-141 ', '92-155 ',
       '105-167 '], dtype=object)

El último paso será dividirlos en dos nuevas columnas, para el mínimo y el máximo. Además, vamos a hacer una columna con el salario promedio.

In [706]:
data[['Min Salary', 'Max Salary']] = data['Salary Estimate'].str.split('-', expand=True).astype(int)*1000
data['Avg Salary'] = (data['Min Salary'] + data['Max Salary']) // 2

Ya podemos eliminar la columna de Salary Estimate.

In [707]:
data.drop(['Salary Estimate'], axis=1, inplace=True)
data.head()

,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Job Group,Job Level,Min Salary,Max Salary,Avg Salary
0,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,Data scientist,Senior,137000,171000,154000
1,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),Data scientist,NaN,137000,171000,154000
2,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),Data scientist,NaN,137000,171000,154000
3,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),Data scientist,NaN,137000,171000,154000
4,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,Data scientist,NaN,137000,171000,154000

### Limpiar la columna de Company Name

In [708]:
data['Company Name'].unique()

array(['Healthfirst\n3.1', 'ManTech\n4.2', 'Analysis Group\n3.8',
       'INFICON\n3.5', 'Affinity Solutions\n2.9', 'HG Insights\n4.2',
       'Novartis\n3.9', 'iRobot\n3.5', 'Intuit - Data\n4.4',
       'XSELL Technologies\n3.6', 'Novetta\n4.5', '1904labs\n4.7',
       'PNNL\n3.7', 'Old World Industries\n3.1',
       'Mathematica Policy Research\n3.4',
       'Guzman & Griffin Technologies (GGTI)\n4.4',
       'Upside Business Travel\n4.1', 'Buckman\n3.5',
       'Insight Enterprises, Inc.\n4.2', 'Tower Health\n3.5',
       'Triplebyte\n3.2', 'PulsePoint\n4.3', 'Exponent\n3.5',
       'Guardian Life\n3.5',
       'Spectrum Communications and Consulting\n3.4',
       'Oversight Systems\n4.7', 'LSQ\n4.2',
       'MIT Lincoln Laboratory\n3.8', 'Kingfisher Systems\n4.5',
       'Formation\n2.8', 'Cohere Health\n5.0', 'Acuity Insurance\n4.8',
       'Chef\n3.6', 'Puget Sound Energy\n3.3', 'Sandhills Global\n2.7',
       'A Place for Mom\n2.7', 'Great-Circle Technologies\n2.2',
       'Edmunds.com\n3.4', 'Cambridge Associates, LLC\n3.1',
       'Liberty Mutual Insurance\n3.4', 'Cenlar\n2.6',
       'Arsenal Biosciences\n5.0', 'Eversight\n4.2', 'Pfizer\n4.1',
       'Klaviyo\n4.8', 'Intellectual Ventures\n3.3', 'GovTech\n3.7',
       'Quick Base\n4.3', 'Giving Assistant\n4.8', 'Takeda\n3.7',
       'Netskope\n4.0', 'IT Concepts\n4.8', 'iSeatz\n3.5',
       'Summa Health System\n3.7', 'Benson Hill\n3.5', 'Twitter\n4.1',
       'Postmates - Corporate HQ\n3.2', 'Envision LLC\n4.5',
       'Swiss Re\n3.8', 'Systems & Technology Research\n4.5',
       'Dermalogica\n3.8', 'Bayview Asset Management\n3.7',
       'Via Transportation\n3.7', 'Grid Dynamics\n4.0',
       'Tempus Labs\n3.3', 'CareDx\n2.5', 'IZEA\n4.2', 'Autodesk\n4.0',
       'Caterpillar\n3.7', 'New England Biolabs\n4.9',
       'Allied Solutions\n3.4', 'The Knot Worldwide\n3.5',
       'IFG Companies\n2.9', 'Amyris\n3.3', 'AstraZeneca\n4.0',
       'Powertek\n3.6', 'Object Partners\n4.7', 'The Mom Project\n4.9',
       'Lightspeed Systems\n4.3', 'Stripe\n4.0',
       'Comprehensive Healthcare\n2.6',
       'Fullpower Technologies, Inc.\n4.5', 'Mars\n3.9',
       'NuWave Solutions\n4.4', 'Merrick Bank\n3.6', 'QOMPLX\n3.5',
       'GutCheck\n3.8', 'Inter-American Development Bank\n3.5',
       'Avlino\n4.9', 'Stratagem Group\n4.4', 'Evidation\n4.1',
       'Tecolote Research\n3.8', 'Tivity Health\n3.2', 'hc1\n2.9',
       'HP Inc.\n4.1', 'SAIC\n3.7', 'AllianceBernstein\n3.2',
       'Big Huge Games\n4.9', 'Maxar Technologies\n3.5',
       'Phantom AI\n5.0', 'Noblis\n4.0', 'Spring Health\n3.6',
       'ClearEdge\n4.0', 'GetWellNetwork\n4.8', 'TACG Solutions\n4.5',
       'Scoop\n4.7', 'Montway Inc\n3.4', 'Juniper Networks\n3.8',
       'Notion Labs\n5.0', 'Lendio\n4.9', 'Direct Agents\n4.4',
       'NAVEX Global\n3.3', 'Upstart\n4.2', 'AppLovin\n4.8',
       'ISO New England\n3.8', 'Relativity\n3.7', 'Tempo Automation\n3.3',
       'MITRE\n3.3', 'Expedition Technology, Inc.\n5.0', 'Evidera\n3.8',
       'Plymouth Rock Assurance\n3.4', 'Crown Bioscience\n2.4',
       'GNS Healthcare\n2.9', 'OneMagnify\n4.4', 'SPECTRUM\n2.9',
       'Advanced BioScience Laboratories\n2.7',
       'Procore Technologies\n4.2', 'Ritedose\n3.5',
       'Covid-19 Search Partners', 'bioMérieux\n4.2',
       'Radical Convergence', 'Leidos\n3.5', 'Demandbase\n4.5',
       'Shelter Insurance\n4.1', 'USAC\n2.7',
       'General Dynamics Information Technology\n3.4', 'Offerpad\n4.4',
       'Magna International Inc.\n3.5', 'United BioSource\n2.3',
       'Kelly\n3.4', 'C3.ai\n4.7', 'Quartet Health\n3.9',
       'Midland Credit Management\n3.3',
       'Resurgent Capital Services\n4.4', 'webfx.com\n4.7',
       'Argo Group US\n3.5', 'BWX Technologies\n3.3', 'Life360\n3.9',
       'MassMutual\n3.7', 'Natera\n3.9', 'Genentech\n4.0', 'Ntrepid\n4.2',
       'Constant Contact\n3.6', 'Sage Intacct\n4.7',
       'Shape Security\n4.1', 'SkillSoniq\n5.0', 'Joby Aviation\n4.3',
       "Cook Children's Health Care System\n3.8",
       'Rubius Therapeutics\n3.8', 'GreatAmerica Financial Services\n4.6',
       'Coverent\n4.1', 'Mteq\n3.7', 'Rocket Lawyer\n4.4',
       'Alion Science & Technology\n3.6', 'Protolabs\n3.7',
       'Quest Integrity\n2.9', 'Phoenix Operations Group\n5.0',
       'Dice.com\n3.4', 'Southwest Research Institute\n3.9',
       'The Buffalo Group\n4.3',
       'Central California Alliance for Health\n3.5',
       'Security Finance Corporation of Spartanburg\n3.1',
       'Opendoor\n3.6', 'Global Data Management Inc\n4.5',
       'Photon Infotech\n3.0', 'REE\n5.0',
       'Riverside Research Institute\n3.6', 'T. Rowe Price\n3.6',
       'Encode, Inc.', 'Brighthouse Financial\n3.8',
       'II-VI Incorporated\n3.3', 'Surya Systems\n4.6', 'PayPal\n3.8',
       'Predictive Research Inc\n3.9', '1010data\n3.1', 'Gigya\n3.6',
       'Genesis Research\n5.0', 'Sanofi\n3.7', 'XPO Logistics\n3.7',
       'Trace Data\n3.9', 'Descript\n4.3',
       'Rincon Research Corporation\n4.2', 'Better Hire\n4.0',
       'Parker Hannifin\n3.3', 'Gallup\n4.1', 'Insider Inc\n3.3',
       'Rapid Value Solutions\n3.9', 'Battelle\n3.1',
       'The Drive Media, Inc.\n5.0',
       'Pacific Northwest National Laboratory\n3.7',
       'US Pharmacopeia\n3.2', 'Itlize Global\n4.6', 'eBay\n3.5',
       'Paige\n5.0', 'ABIOMED\n4.1', 'Comcast\n3.5',
       'Metronome, LLC\n3.2', 'Lawrence Livermore National Lab\n4.7',
       'FHLBank Pittsburgh\n3.8', 'Jacobs\n3.6',
       'Underwriters Laboratories\n3.3', 'Altus Group\n3.7', 'Jobot\n5.0',
       'Trovetechs Inc', 'Oshkosh Corporation\n4.2', 'Mackin\n3.4',
       'PETADATA', 'VBeyond Corporation\n4.4', 'Take-Two\n3.7',
       'Colony Brands\n3.7', 'Capio Group\n4.1', 'SleePare\n3.4',
       'ShorePoint\n4.5', 'Dolphin\n3.5', 'TE Connectivity\n3.6',
       'State of Virginia\n3.2', 'TA Digital\n3.7',
       'Market America Inc\n4.0', 'TrueAccord\n3.4',
       'ALTA IT Services\n3.9', 'Kollasoft Inc.\n3.2',
       'ASRC Federal Holding Company\n3.4', 'Adwait Algorithm\n4.4',
       'Cambridge FX\n3.5', 'Metromile\n3.8', 'Criteo\n3.9',
       'Advance Sourcing Concepts\n3.4', 'Enterprise Solutions Inc\n3.8',
       'Microagility', 'Conch Technologies, Inc\n4.6', 'GSK\n3.9',
       'Rainmaker Resources, LLC', '22nd Century Technologies\n3.7',
       'Huxley\n3.3', 'FM Systems\n3.4', 'B4Corp',
       'Blue Cross and Blue Shield of North Carolina\n3.7',
       'Jane Street\n4.8', 'SSATI\n5.0',
       'Solving IT International Inc\n3.4',
       'The Davey Tree Expert Company\n3.3', 'Centauri\n4.6',
       'Stride Search', 'Software Engineering Institute\n2.6',
       'TechProjects\n4.8', '7Park Data\n3.9',
       'Ameritas Life Insurance Corp\n3.0', 'Western Digital\n3.5',
       'Shimento, Inc.\n2.9', 'Averity\n5.0', 'Praxis Engineering\n4.7',
       'Point72 Ventures',
       'Johns Hopkins University Applied Physics Laboratory\n4.5',
       'Cambridge Mobile Telematics\n4.9', 'Blend360\n4.6',
       'Nolij Consulting\n3.9', 'Hatch Data Inc',
       'Compass Consulting Group\n4.7', 'SolutionIT, Inc.\n4.4',
       'Perspecta\n3.2', 'Smith Hanley Associates\n4.5',
       'Allen Institute\n3.5', 'Eliassen Group\n4.4',
       'Bayside Solutions\n3.1', 'Evolve Vacation Rental\n3.5',
       'AgreeYa Solutions\n3.8', 'Carolina Power & Light Co\n3.7',
       'New Iron Group, Inc.\n5.0', 'Travelers\n4.0', 'Twitch\n3.6',
       'Biogen\n3.6', 'HireAi', 'Mentor Graphics\n4.1',
       'WCG (WIRB-Copernicus Group)\n3.6',
       'Visionary Integration Professionals\n4.3', 'Dynetics\n4.0',
       'Navy Federal Credit Union\n3.9',
       'Exact Sciences Corporation\n4.0',
       'Community Behavioral Health\n3.6', 'Reynolds American\n3.3',
       'LifeOmic\n5.0', 'Visionist, Inc.\n4.9', 'Navio',
       'Concerto HealthAI\n3.3', 'Evolvinc', 'PROPRIUS\n5.0',
       'TECHNOCRAFT Solutions\n3.4', 'Latitude, Inc.\n4.1',
       'Royce Geospatial\n5.0', 'CyberCoders\n4.2',
       'Booz Allen Hamilton Inc.\n3.7', 'Burns & McDonnell\n3.8',
       'InvenTech Info\n4.8', 'Robert Half\n3.5',
       'Conflux Systems Inc.\n4.5', 'Voice\n3.4',
       'Falcon IT & Staffing Solutions', 'DataLab USA\n3.6',
       'Werner Enterprises Inc\n3.1', 'PeopleCom\n5.0',
       'VANTA Partners\n5.0', 'Blue Icy Water, LLC',
       "Farmer's Business Network, Inc.\n3.5", 'Sonde Health',
       'Maxiom\n5.0', 'Change Healthcare\n2.7', 'DCS Corp\n4.1',
       'Hive (CA)\n2.1', 'Hackensack Meridian Health\n3.3',
       'Net2Source Inc.\n3.2', 'The Trade Desk\n3.2', 'IBM\n3.7',
       'Knowesis Inc.\n4.4', 'MoTek Technologies\n3.1', 'HPOne\n3.5',
       'Blue Cloak LLC', 'TBWA\\Chiat\\Day\n2.7',
       'ThreeBridge Solutions\n3.5', 'Numeric, LLC\n3.2',
       'Centraprise\n4.2', 'DW Simpson\n4.2', 'LinQuest\n3.9',
       'Trexquant Investment\n4.0', 'Fleetcor\n3.7',
       'Radiant Digital\n4.5', 'Child Care Aware of America\n2.8',
       'IntelliPro Group Inc.\n4.1', 'USI\n3.4', 'Apex Systems\n3.9',
       'Pragmatics, Inc.\n2.9', 'Crossover Health\n3.5',
       'Lorven Technologies Inc\n4.0', 'Gap Inc.\n3.5',
       'Tygart Technology, Inc\n4.7', 'Murray Resources\n4.6',
       'New York Technology Partners\n4.0',
       'Two95 International Inc.\n4.0', 'Sophinea', 'CRS Group\n4.7',
       'Blackstone Talent Group\n3.5', 'Roche\n4.1',
       'Creative Circle\n3.6', 'Blue Horizon Tek Solutions\n5.0',
       'Sharpedge Solutions Inc\n4.7',
       'Alaka`ina Foundation Family of Companies\n3.6',
       'Hexagon US Federal\n2.7', 'Monte Rosa Therapeutics',
       'Comtech Global Inc\n4.0', 'Aveshka, Inc.\n3.8',
       '10x Genomics\n4.2', 'CompuForce', '1-800-Flowers\n2.7',
       'Aptive\n3.5', 'JCD Staffing\n5.0', 'Thumbtack\n3.9',
       'MILVETS Systems Technology, Inc.\n3.4', 'Apple\n4.1',
       'Kforce\n4.1', 'OppLoans\n4.4', 'Brillient\n3.9',
       'Xator Corporation\n2.9', 'HAN IT Staffing Inc.\n4.6',
       'Infinitive Inc\n3.4', 'New Relic\n4.7', 'ICW Group\n3.3',
       'NYSTEC\n3.8', 'E3 Federal Solutions\n4.5', 'Peraton\n3.4',
       'Group O\n3.1', 'CaptiveAire\n4.1', 'Temboo\n3.9', 'Kibo',
       'AeroVironment\n4.2', 'Applied Research Laboratories\n3.8',
       'Conagen\n2.0', 'Alector\n4.8', 'Homology Medicines, Inc.\n4.4',
       'Inland Empire Health Plan\n3.3',
       'Sandia National Laboratories\n3.8', 'CIA\n3.8',
       'Maven Wave Partners\n4.5', 'Ovative Group\n4.3', 'Kognetics\n3.6',
       'Envision Healthcare\n2.9', 'ConsumerTrack\n3.2',
       'Meridian Knowledge Solutions\n4.4', 'UST Global\n4.2',
       'IMG Systems\n3.2', 'Trident Systems Inc\n3.4', 'GrainBridge, LLC',
       'First Health Group\n3.2', 'Sprezzatura Management Consulting',
       'Progress Rail, A Caterpillar Company\n2.8',
       'Axiologic Solutions\n4.5', 'Indigo Slate\n3.0', 'Cubic\n3.3',
       'Advanced Bio-Logic Solutions Corp\n4.0',
       'Alignment Healthcare\n3.5', 'WGSN\n3.5',
       'ISYS Technologies, Inc.\n3.6', 'TransVoyant\n3.0', 'Geotab\n4.3',
       'EGlobalTech\n3.7', 'Central Business Solutions, Inc\n3.0',
       'KeHE Distributors\n2.5', 'Moxie Software\n3.0',
       'Unicom Technologies INC\n4.7', 'Americo Life\n3.3',
       'Tokio Marine HCC\n3.3', 'CACI International\n3.5',
       'Berico Technologies', 'Kehe Food Distributors', 'Pactera Edge',
       'Qurate Retail Group\n3.6', 'A-Line Staffing Solutions\n4.1',
       'Clear Ridge Defense', 'Criterion Systems, Inc.\n3.8',
       'Foundation Medicine\n4.0', 'TRANZACT\n3.6', 'JKGT', 'AccessHope',
       'ChaTeck Incorporated\n5.0'], dtype=object)

Podemos apreciar que podemos limpiarlas hasta antes del salto de línea (\n).

In [709]:
data['Company Name'] = data['Company Name'].str.split('\n').str[0]
data.head()

,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Job Group,Job Level,Min Salary,Max Salary,Avg Salary
0,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,Data scientist,Senior,137000,171000,154000
1,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),Data scientist,NaN,137000,171000,154000
2,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),Data scientist,NaN,137000,171000,154000
3,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),Data scientist,NaN,137000,171000,154000
4,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,Data scientist,NaN,137000,171000,154000

### Limpiar columna Founded

In [710]:
data['Founded'].unique()

array([1993, 1968, 1981, 2000, 1998, 2010, 1996, 1990, 1983, 2014, 2012,
       2016, 1965, 1973, 1986, 1997, 2015, 1945, 1988, 2017, 2011, 1967,
       1860, 1992, 2003, 1951, 2005, 2019, 1925, 2008, 1999, 1978, 1966,
       1912, 1958, 2013, 1849, 1781, 1926, 2006, 1994, 1863, 1995,   -1,
       1982, 1974, 2001, 1985, 1913, 1971, 1911, 2009, 1959, 2007, 1939,
       2002, 1961, 1963, 1969, 1946, 1957, 1953, 1948, 1850, 1851, 2004,
       1976, 1918, 1954, 1947, 1955, 2018, 1937, 1917, 1935, 1929, 1820,
       1952, 1932, 1894, 1960, 1788, 1830, 1984, 1933, 1880, 1887, 1970,
       1942, 1980, 1989, 1908, 1853, 1875, 1914, 1898, 1956, 1977, 1987,
       1896, 1972, 1949, 1962], dtype=int64)

Podemos ver que hay un valores de -1 que no tienen sentido.

In [711]:
data['Founded'] = np.where(data.Founded < 0, np.nan, data.Founded)
data['Founded'].unique()

array([1993., 1968., 1981., 2000., 1998., 2010., 1996., 1990., 1983.,
       2014., 2012., 2016., 1965., 1973., 1986., 1997., 2015., 1945.,
       1988., 2017., 2011., 1967., 1860., 1992., 2003., 1951., 2005.,
       2019., 1925., 2008., 1999., 1978., 1966., 1912., 1958., 2013.,
       1849., 1781., 1926., 2006., 1994., 1863., 1995.,   nan, 1982.,
       1974., 2001., 1985., 1913., 1971., 1911., 2009., 1959., 2007.,
       1939., 2002., 1961., 1963., 1969., 1946., 1957., 1953., 1948.,
       1850., 1851., 2004., 1976., 1918., 1954., 1947., 1955., 2018.,
       1937., 1917., 1935., 1929., 1820., 1952., 1932., 1894., 1960.,
       1788., 1830., 1984., 1933., 1880., 1887., 1970., 1942., 1980.,
       1989., 1908., 1853., 1875., 1914., 1898., 1956., 1977., 1987.,
       1896., 1972., 1949., 1962.])

### Limpiar columna de Rating

In [712]:
data['Rating'].unique()

array([ 3.1,  4.2,  3.8,  3.5,  2.9,  3.9,  4.4,  3.6,  4.5,  4.7,  3.7,
        3.4,  4.1,  3.2,  4.3,  2.8,  5. ,  4.8,  3.3,  2.7,  2.2,  2.6,
        4. ,  2.5,  4.9,  2.4, -1. ,  2.3,  4.6,  3. ,  2.1,  2. ])

Vemos valores de -1 que no deberían estar, vamos a ponerlos a 0.

In [713]:
data['Rating'] = data['Rating'].replace(-1., 0)
data['Rating'].unique()

array([3.1, 4.2, 3.8, 3.5, 2.9, 3.9, 4.4, 3.6, 4.5, 4.7, 3.7, 3.4, 4.1,
       3.2, 4.3, 2.8, 5. , 4.8, 3.3, 2.7, 2.2, 2.6, 4. , 2.5, 4.9, 2.4,
       0. , 2.3, 4.6, 3. , 2.1, 2. ])

### Limpiar columna de Job Description

In [714]:
data['Job Description'][0].split('\n')

['Description',
 '',
 'The Senior Data Scientist is responsible for defining, building, and improving statistical models to improve business processes and outcomes in one or more healthcare domains such as Clinical, Enrollment, Claims, and Finance. As part of the broader analytics team, Data Scientist will gather and analyze data to solve and address complex business problems and evaluate scenarios to make predictions on future outcomes and work with the business to communicate and support decision-making. This position requires strong analytical skills and experience in analytic methods including multivariate regressions, hierarchical linear models, regression trees, clustering methods and other complex statistical techniques.',
 '',
 'Duties & Responsibilities:',
 '',
 '• Develops advanced statistical models to predict, quantify or forecast various operational and performance metrics in multiple healthcare domains',
 '• Investigates, recommends, and initiates acquisition of new data resources from internal and external sources',
 '• Works with multiple teams to support data collection, integration, and retention requirements based on business needs',
 '• Identifies critical and emerging technologies that will support and extend quantitative analytic capabilities',
 '• Collaborates with business subject matter experts to select relevant sources of information',
 '• Develops expertise with multiple machine learning algorithms and data science techniques, such as exploratory data analysis and predictive modeling, graph theory, recommender systems, text analytics and validation',
 '• Develops expertise with Healthfirst datasets, data repositories, and data movement processes',
 '• Assists on projects/requests and may lead specific tasks within the project scope',
 '• Prepares and manipulates data for use in development of statistical models',
 '• Other duties as assigned',
 '',
 'Minimum Qualifications:',
 '',
 "-Bachelor's Degree",
 '',
 'Preferred Qualifications:',
 '',
 '- Master’s degree in Computer Science or Statistics',
 'Familiarity with major cloud platforms such as AWS and Azure',
 'Healthcare Industry Experience',
 '',
 'Minimum Qualifications:',
 '',
 "-Bachelor's Degree",
 '',
 'Preferred Qualifications:',
 '',
 '- Master’s degree in Computer Science or Statistics',
 'Familiarity with major cloud platforms such as AWS and Azure',
 'Healthcare Industry Experience',
 '',
 'WE ARE AN EQUAL OPPORTUNITY EMPLOYER. Applicants and employees are considered for positions and are evaluated without regard to mental or physical disability, race, color, religion, gender, national origin, age, genetic information, military or veteran status, sexual orientation, marital status or any other protected Federal, State/Province or Local status unrelated to the performance of the work involved.',
 '',
 'If you have a disability under the Americans with Disability Act or a similar law, and want a reasonable accommodation to assist with your job search or application for employment, please contact us by sending an email to careers@Healthfirst.org or calling 212-519-1798 . In your email please include a description of the accommodation you are requesting and a description of the position for which you are applying. Only reasonable accommodation requests related to applying for a position within Healthfirst Management Services will be reviewed at the e-mail address and phone number supplied. Thank you for considering a career with Healthfirst Management Services.',
 'EEO Law Poster and Supplement',
 '',
 ']]>']

Definimos una función con la que extraer las habilidades que deseemos y señalizar con un 1 si está incluida y con un 0 si no.

In [715]:
def extract_skill(skill_name, job_description):
    if skill_name.lower() in job_description.lower():
        return 1
    else:
        return 0

In [716]:
skills = ['Python', 'Excel', 'SQL', 'Tableau', 'Power BI', 'AWS', 'Azure', 'Spark', 'Hadoop']

for skill in skills:
    data[skill] = data['Job Description'].apply(lambda x: extract_skill(skill, x))
    print(data[skill].value_counts())

1    491
0    181
Name: Python, dtype: int64
0    376
1    296
Name: Excel, dtype: int64
1    356
0    316
Name: SQL, dtype: int64
0    549
1    123
Name: Tableau, dtype: int64
0    638
1     34
Name: Power BI, dtype: int64
0    498
1    174
Name: AWS, dtype: int64
0    622
1     50
Name: Azure, dtype: int64
0    483
1    189
Name: Spark, dtype: int64
0    529
1    143
Name: Hadoop, dtype: int64

In [717]:
data.drop(['Job Description'], axis=1, inplace=True)
data.head()

,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,...,Avg Salary,Python,Excel,SQL,Tableau,Power BI,AWS,Azure,Spark,Hadoop
0,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,...,154000,0,0,0,0,0,1,1,0,0
1,4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968.0,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),...,154000,0,0,1,0,0,0,0,0,1
2,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981.0,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),...,154000,1,1,0,0,0,1,0,0,0
3,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),...,154000,1,1,1,0,0,1,0,0,0
4,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998.0,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,...,154000,1,1,1,0,0,0,0,0,0

### Limpiar columna de Size

In [718]:
data['Size'].unique()

array(['1001 to 5000 employees', '5001 to 10000 employees',
       '501 to 1000 employees', '51 to 200 employees', '10000+ employees',
       '201 to 500 employees', '1 to 50 employees', '-1', 'Unknown'],
      dtype=object)

Teniendo en cuenta que las empresas se suelen clasificar según el tamaño de la siguiente forma: 
- Micro: 1-10
- Small: 1-50
- Middle: 51-1000
- Corporate: > 1000000

In [719]:
segment_mapping = {
    '1 to 50 employees': 'Small',
    '51 to 200 employees': 'Middle',
    '201 to 500 employees': 'Middle',
    '501 to 1000 employees': 'Middle',
    '1001 to 5000 employees': 'Corporate',
    '5001 to 10000 employees': 'Corporate',
    '10000+ employees': 'Corporate',
    'Unknown': np.nan,
    '-1': np.nan
}

data['Segment'] = data['Size'].replace(segment_mapping)
data['Segment'].value_counts()

Middle       297
Corporate    245
Small         86
Name: Segment, dtype: int64

In [720]:
data.drop(['Size'], axis=1, inplace=True)
data.head()

,Rating,Company Name,Location,Headquarters,Founded,Type of ownership,Industry,Sector,Revenue,Job Group,...,Python,Excel,SQL,Tableau,Power BI,AWS,Azure,Spark,Hadoop,Segment
0,3.1,Healthfirst,"New York, NY","New York, NY",1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,Data scientist,...,0,0,0,0,0,1,1,0,0,Corporate
1,4.2,ManTech,"Chantilly, VA","Herndon, VA",1968.0,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),Data scientist,...,0,0,1,0,0,0,0,0,1,Corporate
2,3.8,Analysis Group,"Boston, MA","Boston, MA",1981.0,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),Data scientist,...,1,1,0,0,0,1,0,0,0,Corporate
3,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),Data scientist,...,1,1,1,0,0,1,0,0,0,Middle
4,2.9,Affinity Solutions,"New York, NY","New York, NY",1998.0,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,Data scientist,...,1,1,1,0,0,0,0,0,0,Middle

### Limpiar columna de Type of ownership

In [721]:
data['Type of ownership'].value_counts()

Company - Private                 397
Company - Public                  153
Nonprofit Organization             36
Subsidiary or Business Segment     28
-1                                 27
Government                         10
Other Organization                  5
Private Practice / Firm             4
Unknown                             4
College / University                3
Self-employed                       2
Contract                            2
Hospital                            1
Name: Type of ownership, dtype: int64

Vemos que tanto "-1" como "Unknown" encajarían en "Other organization".

In [722]:
ownership_mapping = {
    'Unknown': 'Other Organization',
    '-1': 'Other Organization'
}

data['Type of ownership'] = data['Type of ownership'].replace(ownership_mapping)
data['Type of ownership'].value_counts()

Company - Private                 397
Company - Public                  153
Nonprofit Organization             36
Other Organization                 36
Subsidiary or Business Segment     28
Government                         10
Private Practice / Firm             4
College / University                3
Self-employed                       2
Contract                            2
Hospital                            1
Name: Type of ownership, dtype: int64

### Limpiar columna de Industry

In [723]:
data['Industry'].value_counts()

-1                                          71
Biotech & Pharmaceuticals                   66
IT Services                                 61
Computer Hardware & Software                57
Aerospace & Defense                         46
Enterprise Software & Network Solutions     43
Consulting                                  38
Staffing & Outsourcing                      36
Insurance Carriers                          28
Internet                                    27
Advertising & Marketing                     23
Health Care Services & Hospitals            21
Research & Development                      17
Federal Agencies                            16
Investment Banking & Asset Management       13
Banks & Credit Unions                        8
Lending                                      8
Energy                                       5
Consumer Products Manufacturing              5
Telecommunications Services                  5
Insurance Agencies & Brokerages              4
Food & Beverage Manufacturing                4
Utilities                                    3
Electrical & Electronic Manufacturing        3
Colleges & Universities                      3
Other Retail Stores                          3
Architectural & Engineering Services         3
Chemical Manufacturing                       3
Real Estate                                  3
Miscellaneous Manufacturing                  3
Accounting                                   3
Wholesale                                    3
Industrial Manufacturing                     3
Video Games                                  3
Travel Agencies                              2
Express Delivery Services                    2
Timber Operations                            2
Financial Transaction Processing             2
Construction                                 2
Health, Beauty, & Fitness                    2
Transportation Equipment Manufacturing       2
Oil & Gas Services                           2
Venture Capital & Private Equity             2
Consumer Electronics & Appliances Stores     2
Department, Clothing, & Shoe Stores          1
Publishing                                   1
Social Assistance                            1
Farm Support Services                        1
Logistics & Supply Chain                     1
Transportation Management                    1
State & Regional Agencies                    1
Hotels, Motels, & Resorts                    1
Food & Beverage Stores                       1
News Outlet                                  1
Telecommunications Manufacturing             1
Cable, Internet & Telephone Providers        1
Shipping                                     1
Rail                                         1
Name: Industry, dtype: int64

Eliminamos el -1 y los incluimos en Other Industries.

In [724]:
data['Industry'] = data['Industry'].replace({'-1':'Other Industries'})
data['Industry'].value_counts()

Other Industries                            71
Biotech & Pharmaceuticals                   66
IT Services                                 61
Computer Hardware & Software                57
Aerospace & Defense                         46
Enterprise Software & Network Solutions     43
Consulting                                  38
Staffing & Outsourcing                      36
Insurance Carriers                          28
Internet                                    27
Advertising & Marketing                     23
Health Care Services & Hospitals            21
Research & Development                      17
Federal Agencies                            16
Investment Banking & Asset Management       13
Banks & Credit Unions                        8
Lending                                      8
Energy                                       5
Consumer Products Manufacturing              5
Telecommunications Services                  5
Insurance Agencies & Brokerages              4
Food & Beverage Manufacturing                4
Utilities                                    3
Electrical & Electronic Manufacturing        3
Colleges & Universities                      3
Other Retail Stores                          3
Architectural & Engineering Services         3
Chemical Manufacturing                       3
Real Estate                                  3
Miscellaneous Manufacturing                  3
Accounting                                   3
Wholesale                                    3
Industrial Manufacturing                     3
Video Games                                  3
Travel Agencies                              2
Express Delivery Services                    2
Timber Operations                            2
Financial Transaction Processing             2
Construction                                 2
Health, Beauty, & Fitness                    2
Transportation Equipment Manufacturing       2
Oil & Gas Services                           2
Venture Capital & Private Equity             2
Consumer Electronics & Appliances Stores     2
Department, Clothing, & Shoe Stores          1
Publishing                                   1
Social Assistance                            1
Farm Support Services                        1
Logistics & Supply Chain                     1
Transportation Management                    1
State & Regional Agencies                    1
Hotels, Motels, & Resorts                    1
Food & Beverage Stores                       1
News Outlet                                  1
Telecommunications Manufacturing             1
Cable, Internet & Telephone Providers        1
Shipping                                     1
Rail                                         1
Name: Industry, dtype: int64

Creamos un diccionario para agrupar los diferentes trabajos en palabras claves del sector.

In [725]:
industry_mapping = {
    'Biotech & Pharmaceuticals': 'Beauty & Health',
    'IT Services': 'Technology',
    'Computer Hardware & Software': 'Technology',
    'Aerospace & Defense': 'Space',
    'Enterprise Software & Network Solutions': 'Other Industries',
    'Consulting': 'Other Industries',
    'Staffing & Outsourcing': 'Other Industries',
    'Insurance Carriers': 'Finance',
    'Internet': 'Technology',
    'Advertising & Marketing': 'Media',
    'Banks & Credit Unions': 'Finance',
    'Health Care Services & Hospitals': 'Beauty & Health',
    'Research & Development': 'Business',
    'Federal Agencies': 'Other Industries',
    'Investment Banking & Asset Management': 'Finance',
    'Lending': 'Finance',
    'Energy': 'Energy',
    'Consumer Products Manufacturing': 'Manufacturing',
    'Telecommunications Services': 'Technology',
    'Insurance Agencies & Brokerage': 'Finance',
    'Food & Beverage Manufacturing': 'Manufacturing',
    'Utilities': 'Commerce',
    'Electrical & Electronic Manufacturing': 'Manufacturing',
    'Colleges & Universities': 'Education',
    'Other Retail Stores': 'Commerce',
    'Architectural & Engineering Services': 'Construction',
    'Chemical Manufacturing': 'Manufacturing',
    'Real Estate': 'Construction',
    'Miscellaneous Manufacturing': 'Manufacturing',
    'Accounting': 'Finance',
    'Wholesale': 'Commerce',
    'Industrial Manufacturing': 'Manufacturing',
    'Video Games': 'Entertainment',
    'Travel Agencies': 'Travelling',
    'Express Delivery Services': 'Logistic',
    'Timber Operations': 'Manufacturing',
    'Oil & Gas Services': 'Energy',
    'Venture Capital & Private Equity': 'Finance',
    'Consumer Electronics & Appliances Stores': 'Commerce',
    'Department, Clothing, & Shoe Stores': 'Commerce',
    'Publishing': 'Media',
    'Social Assistance': 'Other Industries',
    'Farm Support Services': 'Other Industries',
    'Logistics & Supply Chain': 'Logistic',
    'Transportation Management': 'Transportation',
    'State & Regional Agencies': 'Other Industries',
    'Hotels, Motels, & Resorts': 'Travelling',
    'Food & Beverage Stores': 'Commerce',
    'News Outlet': 'Media',
    'Telecommunications Manufacturing': 'Manufacturing',
    'Cable, Internet & Telephone Providers': 'Commerce',
    'Shipping': 'Logistic',
    'Rail': 'Transportation',
    'Transportation Equipment Manufacturing': 'Manufacturing',
    'Financial Transaction Processing': 'Finance',
    'Health, Beauty, & Fitness': 'Beauty & Health',
    'Insurance Agencies & Brokerages': 'Finance'
}

data['Industry'] = data['Industry'].replace(industry_mapping)
data['Industry'].value_counts()

Other Industries    207
Technology          150
Beauty & Health      89
Finance              68
Space                46
Manufacturing        26
Media                25
Business             17
Commerce             14
Construction          8
Energy                7
Logistic              4
Entertainment         3
Travelling            3
Education             3
Transportation        2
Name: Industry, dtype: int64

In [726]:
data.head()

,Rating,Company Name,Location,Headquarters,Founded,Type of ownership,Industry,Sector,Revenue,Job Group,...,Python,Excel,SQL,Tableau,Power BI,AWS,Azure,Spark,Hadoop,Segment
0,3.1,Healthfirst,"New York, NY","New York, NY",1993.0,Nonprofit Organization,Finance,Insurance,Unknown / Non-Applicable,Data scientist,...,0,0,0,0,0,1,1,0,0,Corporate
1,4.2,ManTech,"Chantilly, VA","Herndon, VA",1968.0,Company - Public,Business,Business Services,$1 to $2 billion (USD),Data scientist,...,0,0,1,0,0,0,0,0,1,Corporate
2,3.8,Analysis Group,"Boston, MA","Boston, MA",1981.0,Private Practice / Firm,Other Industries,Business Services,$100 to $500 million (USD),Data scientist,...,1,1,0,0,0,1,0,0,0,Corporate
3,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",2000.0,Company - Public,Manufacturing,Manufacturing,$100 to $500 million (USD),Data scientist,...,1,1,1,0,0,1,0,0,0,Middle
4,2.9,Affinity Solutions,"New York, NY","New York, NY",1998.0,Company - Private,Media,Business Services,Unknown / Non-Applicable,Data scientist,...,1,1,1,0,0,0,0,0,0,Middle

In [727]:
data['Revenue'].value_counts()

Unknown / Non-Applicable            213
$100 to $500 million (USD)           94
$10+ billion (USD)                   63
$2 to $5 billion (USD)               45
$10 to $25 million (USD)             41
$1 to $2 billion (USD)               36
$25 to $50 million (USD)             36
$50 to $100 million (USD)            31
$1 to $5 million (USD)               31
-1                                   27
$500 million to $1 billion (USD)     19
$5 to $10 million (USD)              14
Less than $1 million (USD)           14
$5 to $10 billion (USD)               8
Name: Revenue, dtype: int64

In [728]:
data['Revenue'] = data['Revenue'].replace('-1', np.nan)
data['Revenue'].value_counts()

Unknown / Non-Applicable            213
$100 to $500 million (USD)           94
$10+ billion (USD)                   63
$2 to $5 billion (USD)               45
$10 to $25 million (USD)             41
$1 to $2 billion (USD)               36
$25 to $50 million (USD)             36
$50 to $100 million (USD)            31
$1 to $5 million (USD)               31
$500 million to $1 billion (USD)     19
$5 to $10 million (USD)              14
Less than $1 million (USD)           14
$5 to $10 billion (USD)               8
Name: Revenue, dtype: int64

In [729]:
dataCleaned = data.copy()
dataCleaned.head()

,Rating,Company Name,Location,Headquarters,Founded,Type of ownership,Industry,Sector,Revenue,Job Group,...,Python,Excel,SQL,Tableau,Power BI,AWS,Azure,Spark,Hadoop,Segment
0,3.1,Healthfirst,"New York, NY","New York, NY",1993.0,Nonprofit Organization,Finance,Insurance,Unknown / Non-Applicable,Data scientist,...,0,0,0,0,0,1,1,0,0,Corporate
1,4.2,ManTech,"Chantilly, VA","Herndon, VA",1968.0,Company - Public,Business,Business Services,$1 to $2 billion (USD),Data scientist,...,0,0,1,0,0,0,0,0,1,Corporate
2,3.8,Analysis Group,"Boston, MA","Boston, MA",1981.0,Private Practice / Firm,Other Industries,Business Services,$100 to $500 million (USD),Data scientist,...,1,1,0,0,0,1,0,0,0,Corporate
3,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",2000.0,Company - Public,Manufacturing,Manufacturing,$100 to $500 million (USD),Data scientist,...,1,1,1,0,0,1,0,0,0,Middle
4,2.9,Affinity Solutions,"New York, NY","New York, NY",1998.0,Company - Private,Media,Business Services,Unknown / Non-Applicable,Data scientist,...,1,1,1,0,0,0,0,0,0,Middle

In [730]:
dataCleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rating             672 non-null    float64
 1   Company Name       672 non-null    object
 2   Location           672 non-null    object
 3   Headquarters       672 non-null    object
 4   Founded            554 non-null    float64
 5   Type of ownership  672 non-null    object
 6   Industry           672 non-null    object
 7   Sector             672 non-null    object
 8   Revenue            645 non-null    object
 9   Job Group          603 non-null    object
 10  Job Level          97 non-null     object
 11  Min Salary         672 non-null    int32
 12  Max Salary         672 non-null    int32
 13  Avg Salary         672 non-null    int32
 14  Python             672 non-null    int64
 15  Excel              672 non-null    int64
 16  SQL                672 non-null    int64
 17  Tableau            672 non-null    int64
 18  Power BI           672 non-null    int64
 19  AWS                672 non-null    int64
 20  Azure              672 non-null    int64
 21  Spark              672 non-null    int64
 22  Hadoop             672 non-null    int64
 23  Segment            628 non-null    object
dtypes: float64(2), int32(3), int64(9), object(10)
memory usage: 91.9+ KB

In [731]:
dataCleaned.describe()

,Rating,Founded,Min Salary,Max Salary,Avg Salary,Python,Excel,SQL,Tableau,Power BI,AWS,Azure,Spark,Hadoop
count,672.000000,554.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000
mean,3.593006,1984.104693,99196.428571,148130.952381,123663.690476,0.730655,0.440476,0.529762,0.183036,0.050595,0.258929,0.074405,0.281250,0.212798
std,1.176684,40.653609,33009.958111,48035.110051,39580.267895,0.443950,0.496814,0.499485,0.386984,0.219333,0.438373,0.262624,0.449944,0.409591
min,0.000000,1781.000000,31000.000000,56000.000000,43500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.300000,1974.000000,79000.000000,119000.000000,103000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.800000,1999.000000,91000.000000,133000.000000,114000.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.300000,2010.000000,122000.000000,165000.000000,136500.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
max,5.000000,2019.000000,212000.000000,331000.000000,271500.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [732]:
dataCleaned.describe(include='object')

,Company Name,Location,Headquarters,Type of ownership,Industry,Sector,Revenue,Job Group,Job Level,Segment
count,672,672,672,672,672,672,645,603,97,628
unique,432,207,229,11,16,23,13,6,2,3
top,Hatch Data Inc,"San Francisco, CA","New York, NY",Company - Private,Other Industries,Information Technology,Unknown / Non-Applicable,Data scientist,Senior,Middle
freq,12,69,33,397,207,188,213,440,95,297

In [733]:
dataCleaned.to_csv('dataClean.csv', index=False)

## Data Dictionary

- Job Group: Title of the job posting
- Rating: Rating of that post
- Company Name: Name of company
- Location: location of company
- Headquarter: Location of the headquater
- Segment: Segment of the company
- Type of ownership: Describes the company type i.e non-profit/public/private farm etc
- Industry, Sector: Field applicant will work in
- Revenue: Total revenue of the company
- Min Salary,Max Salary, Avg Salary: Refers to the minimum, maximum and average salary for that post
- Founded: Year of foundation
- Excel, SQL, Tableau, Power BI, AWS, Azure, Spark, Hadoop: Skills extracted from the job description